<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>
	<!-- 项目默认的打印级别 -->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
	<!-- 日志：从低到高；只会打印指定级别以后的; additivity表示是否将日志信息反馈给root
     DEBUG==》INFO===》WARN===》ERROR
		Additivity：false ,避免重复打印日志
     -->
     <!-- 指定包的打印日志的级别  -->
     <logger name="com.atguigu.atcrowdfunding.test" level="INFO" additivity="false">  
         <appender-ref ref="STDOUT"/>  
     </logger>
     <logger name="com.atguigu.atcrowdfunding" level="warn" additivity="false">  
         <appender-ref ref="STDOUT"/>  
     </logger>
</configuration>